doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Paraje Artesanal
        link(rel="stylesheet", href="../../css/estilos.css")
    body 
        div.cabecera
            img(src="../../img/logo.png", alt="Logo de Paraje Artesanal")
            nav
                ul
                    li Inicio
                    li ¿Quiénes somos?
                    li Artesanos
                    li Artesanías
                    li Notas
                    li ¿Eres artesano?
                    li Blog
        div.contenedor
            block ventana
        div.grupoentradas
            block entradas
        footer
            p &copy; 2021 Todos los derechos reservados