extends ../template/template

block ventana
    div.opacidad
        h1 Conoce toda la artesanía que se produce en Perú y a sus grandes artesanos
        div.botones
            button Conoce a los artesanos
            button ¿Eres artesano?
            button Mira las artesanías

block entradas
    div
        h1 Entradas recientes
        div.entradas
            div.entrada
                div
                h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores vero, suscipit distinctio impedit rem quo.
            div.entrada
                div
                h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam veniam rem, dolores facere excepturi aspernatur?
            div.entrada
                div
                h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum consequuntur autem quo delectus similique ipsum!